@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding :0;
}
body {
    font-family: 'Inter', sans-serif;
}
.soundCloud-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.main-navigation {
    display: flex;
    justify-content:center; 
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 50px;
    text-decoration: none;
}
.main-navigation a{
    text-decoration: none;
    color:grey;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    padding:8px;
    transition-duration: 0.1s;
}

.main-navigation a:hover,#orange-text:hover{
    color:white;
}

#logo-link {
    border-bottom:none;
    padding:8px;
}

.main-navigation a.active {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 6px;
}

body {
    background-color: #0a0a0a;
}

#orange-text {
    color: rgb(253, 85, 18);
}


.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
  }
  